<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">

  <title>Formulario </title>
</head>
<body>

  <!-- Header -->
  <header>
    <h1>BELLAROBBA PETS</h1>
    <nav class="navbar">
      <ul class="nav-list">
        <li><a href="../../index.html">Inicio</a></li>
        <li><a href="./formulario.html">Formulario</a></li>
        <li><a href="./catalogo.html">Catalogo</a></li>
      </ul>
    </nav>
  </header>

  <h1 class="text-dark text-center p-3">Formulario</h1>


  <form action=>
    <!-- Nombre y Apellido -->
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>

    <label for="apellido">Apellido:</label>
    <input type="text" id="apellido" name="apellido" required>

    <!-- Edad -->
    <label for="edad">Edad:</label>
    <input type="number" id="edad" name="edad" required>

    <!-- País -->
    <label for="pais">País:</label>
    <input type="text" id="pais" name="pais" required>

    <!-- Teléfono -->
    <label for="telefono">Teléfono:</label>
    <input type="tel" id="telefono" name="telefono" required>

    <!-- Email -->
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
</form>
    <!-- Selección de modelo de camita -->
    <label for="modelo">Modelo de Camita:</label>
    <select id="modelo" name="modelo" required>
      <option value="naila">Naila</option>
      <option value="collie">Collie</option>
      <option value="angora">Angora</option>
      <option value="gran_danes">Gran Danés</option>
    </select>

    <!-- Botón de enviar -->
    <button type="submit">Enviar</button>
   <!-- Botón de borrar -->
   <button type="button" id="btnBorrar">Borrar</button>
</form>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
